.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sectionHeader {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0;
}

.error {
    text-align: center;
    font-size: 1.25rem;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: white;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #f9f9f9 8%, #f0f0f0 18%, #f9f9f9 33%);
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}