.navBar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navLogo {
    width: 100px;
    height: 100px;
}

.navBarMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px 0px 35px;
    background-color: var(--primary-color);
    height: 100px;
}

.link, .link:visited {
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navBarMainLinks {
    display: flex;
    justify-content: end;
    gap: 10rem;
    font-size: 1.5rem;
}

.navBarSecondary {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
}

.navBarSecondaryLinks {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 1.15rem;
}

.secondaryLink {
    color: black;
    font-weight: 500;
}

