.carousel {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 400px;
  height: 100%;
}

.slideWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
}

.slide {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
  opacity: 0;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

.active .slide {
  opacity: 1;
  pointer-events: auto;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  height: 300px;
  width: auto;
  object-fit: contain;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  width: 250px;
}

.caption {
  display: flex;
  flex-direction: column;
}

.caption h3 {
  font-size: 1.1rem;
  margin: 5px 0;
}

.caption p {
  font-size: 1rem;
  color: #555;
}

.link {
  border: 1px solid var(--border-color);
  background-color: var(--button-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 25px;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.link,
.link:visited {
  color: white;
  text-decoration: none;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.link:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
  transform: scale(1.1);
}

.slideButton {
  all: unset;
  position: absolute;
  padding: 1rem;
  z-index: 3;
  font-size: 2rem;
}

.arrow {
  stroke: black;
  height: 50px;
  width: 50px;
}

.slideButton:hover {
  cursor: pointer;
}

.slideButton:focus-visible {
  background-color: lightgray;
  border: var(--border-color);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.indicators {
  position: absolute;
  display: flex;
  gap: 8px;
  margin-top: 10px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
