.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    padding: 2rem;
    flex-grow: 1;
}

.footer {
    background-color: var(--primary-color);
    width: 100%;
}