.layoutContainer {
    display: flex;
    flex-direction: column;
}

.mainContent {
    padding: 25px 50px 25px 50px;
}

.footer {
    background-color: var(--primary-color);
    height: 100px;
    width: 100%;
}